@model IEnumerable<RentAHouse.Models.City>

@{
    ViewData["Title"] = "Index";
}

<h2>All Cities</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form>
    <div class="form-group">
        <label for="cityName">city name contains:</label>
        <input id="selectCity" type="search" class="form-control"></input>
    </div>
    <div class="form-group">
        <label for="numOfResidents">Minimal amount of residents?</label>
        <input type="number" min="1" class="form-control" id="numOfResidents">
    </div>
    <div class="form-group">
        <label for="region">Region</label>
        <select id="region" asp-items="@Html.GetEnumSelectList<District>()" class="form-control"></select>
    </div>
    <input type="button" id="search" class="btn btn-success btn-lg" onclick="onSearch()" value="Search" />
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GraduatesPercents)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mayor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.avarageSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.numOfResidents)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.region)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tableBody">
    </tbody>
</table>


@* scripts *@
@section Scripts{
    <script type="text/javascript" src="https://cdn.emailjs.com/sdk/2.2.4/email.min.js"></script>
    <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key=AlNQea4USaYJiJV4kPGxdLToVtMi7j8YKvoc3CfzjJN0ZVDkyHT809I5wOvQeMdE'></script>
    <script src="~/js//cities.js"></script>
}
